
SCREEN AUTO AUTO 1.0

<% require 'dtnfsw_target_num_color' %>

VERTICAL
  TITLE "<%= target_name %> BPNode Node Requirements Checkout" Courier 20 Normal true
  SETTING TEXTCOLOR <%= dtnfsw_target_num_color(target_name) %>
END

HORIZONTAL 
  VERTICALBOX "BP NODE MIB CONFIG HK"
    LABEL "Packet cFS Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet DTN Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet Time Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packets Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "Time Correlation Factor:"
    SETTING TEXTALIGN RIGHT
    LABEL "CFE Time Clock State:"
    SETTING TEXTALIGN RIGHT
    SETTING TEXTCOLOR RED 
  END
  VERTICALBOX "Telemetry"
    VALUE <%= target_name %>  BPNODE_NODE_MIB_CONFIG_HK PACKET_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_CONFIG_HK DTN_TIME_FORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_CONFIG_HK RECEIVED_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_CONFIG_HK RECEIVED_COUNT
    VALUE <%= target_name %>  BPNODE_NODE_MIB_CONFIG_HK TIME_CF 
    VALUE <%= target_name %>  CFE_TIME_HK CLOCK_STATE_API
  END
  VERTICALBOX "BP NODE MIB COUNTERS HK"
    LABEL "Packet cFS Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet DTN Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet Time Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packets Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "Bundle Agent Accepted Directive Count:"
    SETTING TEXTALIGN RIGHT
    LABEL "Bundle Agent Rejected Directive Count:"
    SETTING TEXTALIGN RIGHT
  END
  VERTICALBOX "Telemetry"
    VALUE <%= target_name %>  BPNODE_NODE_MIB_COUNTERS_HK PACKET_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_COUNTERS_HK DTN_TIME_FORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_COUNTERS_HK RECEIVED_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_COUNTERS_HK RECEIVED_COUNT
		VALUE <%= target_name %>  BPNODE_NODE_MIB_COUNTERS_HK BUNDLE_AGENT_ACCEPTED_DIRECTIVE_COUNT
		VALUE <%= target_name %>  BPNODE_NODE_MIB_COUNTERS_HK BUNDLE_AGENT_REJECTED_DIRECTIVE_COUNT
  END
  VERTICALBOX "BP NODE MIB REPORTS HK"
    LABEL "Packet cFS Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet DTN Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet Time Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packets Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "CFE Event Msgs Received:"
    SETTING TEXTALIGN RIGHT
    SETTING TEXTCOLOR RED 
    LABEL "BP Node Bytes Mem. Free:"
    SETTING TEXTALIGN RIGHT
  END
  VERTICALBOX "Telemetry"
    VALUE <%= target_name %>  BPNODE_NODE_MIB_REPORTS_HK PACKET_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_REPORTS_HK DTN_TIME_FORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_REPORTS_HK RECEIVED_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_NODE_MIB_REPORTS_HK RECEIVED_COUNT
    VALUE <%= target_name %>  CFE_EVS_LONG_EVENT_MSG RECEIVED_COUNT
    VALUE <%= target_name %> BPNODE_STORAGE_HK BYTES_MEM_FREE   
  END
END
HORIZONTAL
  VERTICALBOX "BP NODE SOURCE MIB CONFIG HK"
    LABEL "Packet cFS Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet DTN Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet Time Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packets Received:"
    SETTING TEXTALIGN RIGHT
  END
  VERTICALBOX "Telemetry"
    VALUE <%= target_name %>  BPNODE_SOURCE_MIB_CONFIG_HK PACKET_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_SOURCE_MIB_CONFIG_HK DTN_TIME_FORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_SOURCE_MIB_CONFIG_HK RECEIVED_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_SOURCE_MIB_CONFIG_HK RECEIVED_COUNT   
  END
  VERTICALBOX "BP NODE SOURCE MIB COUNTERS HK"
    LABEL "Packet cFS Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet DTN Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet Time Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packets Received:"
    SETTING TEXTALIGN RIGHT
    END
  VERTICALBOX "Telemetry"
    VALUE <%= target_name %>  BPNODE_SOURCE_MIB_COUNTERS_HK PACKET_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_SOURCE_MIB_COUNTERS_HK DTN_TIME_FORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_SOURCE_MIB_COUNTERS_HK RECEIVED_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_SOURCE_MIB_COUNTERS_HK RECEIVED_COUNT   
  END  
  VERTICALBOX "BP NODE STORAGE HK"
    LABEL "Packet cFS Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet DTN Time Created:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packet Time Received:"
    SETTING TEXTALIGN RIGHT
    LABEL "Packets Received:"
    SETTING TEXTALIGN RIGHT
  END
  VERTICALBOX "Telemetry"
    VALUE <%= target_name %>  BPNODE_STORAGE_HK PACKET_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_STORAGE_HK DTN_TIME_FORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_STORAGE_HK RECEIVED_TIMEFORMATTED CONVERTED 25
    VALUE <%= target_name %>  BPNODE_STORAGE_HK RECEIVED_COUNT   
  END
END
